
*.class


*.log


*.ctxt


.mtj.tmp/


*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


hs_err_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


.project
.classpath
.settings/
target/


.springBeans
.springElements
.idea/
*.iml
*.ipr
*.iws


.DS_Store
Thumbs.db


.idea/
*.iws
*.iml
*.ipr


